<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rick and Morty</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="2:1" class="container">
  <mat-grid-tile class="card-container" *ngFor="let rickandmorty of rickandmortys">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{rickandmorty.name.toUpperCase()}}</mat-card-title>
          <mat-card-subtitle>{{rickandmorty.species}}</mat-card-subtitle>
          <img mat-card-xl-image src={{rickandmorty.image}} alt="Image of a character">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <h3>Gender: {{rickandmorty.gender}} -- Status: {{rickandmorty.status}} -- Location: {{rickandmorty.location.name}}</h3>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>